// For format details, see https://aka.ms/devcontainer.json. For config options, see the README at:
// https://github.com/microsoft/vscode-dev-containers/tree/v0.154.0/containers/ruby-rails
{
	"name": "Ruby on Rails",
	"dockerComposeFile": "docker-compose.yml",
	"service": "app",
	"workspaceFolder": "/<%= @app_name %>",
	"shutdownAction": "stopCompose",
	"customizations": {
		"vscode": {
			// Set *default* container specific settings.json values on container create.
			"settings": {},
			// Add the IDs of extensions you want installed when the container is created.
			"extensions": [
				"rebornix.Ruby",
				"gitlab.gitlab-workflow",
				"kaiwood.endwise",
				"aliariff.vscode-erb-beautify",
				"dbaeumer.vscode-eslint",
				"samverschueren.final-newline",
				"bung87.rails",
				"bung87.vscode-gemfile",
				"shanehofstetter.rails-i18n",
				"shanehofstetter.rails-open-partial",
				"aki77.rails-partial",
				"aki77.rails-routes",
				"castwide.solargraph",
				"bradlc.vscode-tailwindcss",
				"austenc.tailwind-docs",
				"bourhaouta.tailwindshades",
				"streetsidesoftware.code-spell-checker",
				"first-try-software.coverage-status",
				"mrmlnc.vscode-duplicate",
				"eamodio.gitlens",
				"heybourn.headwind",
				"anteprimorac.html-end-tag-labels",
				"ArturoDent.launch-config",
				"ms-vsliveshare.vsliveshare-pack",
				"Rubymaniac.vscode-paste-and-indent",
				"esbenp.prettier-vscode",
				"atipugin.rails-partial",
				"connorshea.vscode-ruby-test-adapter",
				"anykeyh.simplecov-vscode",
				"dqisme.sync-scroll",
				"KoichiSasada.vscode-rdbg",
				"bajdzis.vscode-database",
				"redhat.vscode-yaml",
				"Shopify.ruby-lsp"
			]
		}
	},

	// Use 'forwardPorts' to make a list of ports inside the container available locally.
	"forwardPorts": [],
	// Use 'onCreateCommand' to run commands after the container is created.
	"onCreateCommand": "sudo chown -R vscode:vscode /usr/local",
	// Use 'postCreateCommand' to run commands after the container is created (after onCreateCommand).
	"postCreateCommand": "bin/setup",
	// Comment out connect as root instead. More info: https://aka.ms/vscode-remote/containers/non-root.
	"remoteUser": "vscode",
	"remoteEnv": {
		"EDITOR": "code --wait"
	}
}
