version: '3'

volumes:
  postgres_data:
  bundle:

services:
  app:
    # See https://aka.ms/vscode-remote/containers/non-root for details.
    user: vscode

    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
      args:
        # Update 'VARIANT' to pick a Ruby version: 2, 2.7, 2.6, 2.5
        VARIANT: <%= @ruby_variant %>
        USER_UID: 1000
        USER_GID: 1000
        NODE_VERSION: <%= @node_version || 'lts/*' %>
    environment:
      DATABASE_HOST: db
      DATABASE_USER: postgres
      DATABASE_PASSWORD: LocalPassword
      REDIS_URL: redis://redis:6379
      CHROME_URL: http://chrome:3000

    volumes:
      - ..:/<%= app_name %>:cached
      - $HOME/.wakatime.cfg:/home/vscode/.wakatime.cfg
      - $HOME/.gitconfig:/home/vscode/.gitconfig
      - $HOME/.gitignore:/home/vscode/.gitignore
      - $HOME/.git-templates:/home/vscode/.git-templates
      - $HOME/.ssh/:/home/vscode/.ssh/ # Mount the ssh folder to authenticate with github
      - bundle:/usr/local/bundle

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity

    links:
      - db
      - redis

  db:
    image: ${DATABASE_IMAGE:-postgres}:${DATABASE_VERSION:-latest}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: LocalPassword

  chrome:
    image: browserless/chrome:${CHROME_VERSION:-latest}
    ports:
      - 3000
    environment:
      # Set connection timeout to avoid timeout exception during debugging
      # https://docs.browserless.io/docs/docker.html#connection-timeout
      CONNECTION_TIMEOUT: 600000

  redis:
    image: redis:${REDIS_VERSION:-latest}
