# version: '3.8'

services:
  web:
    image: ${CI_APPLICATION_REPOSITORY}:${CI_APPLICATION_TAG}
    environment:
      - DATABASE_HOST
      - DATABASE_NAME
      - DATABASE_USER
      - DATABASE_PASSWORD
      - DATABASE_PORT
      - MAILER_HOST
<%- if @postmark -%>
      - POSTMARK_SERVER_TOKEN
<%- end -%>
      - RAILS_ENV
      - RAILS_MIN_THREADS
      - RAILS_MASTER_KEY
      - RAILS_MAX_THREADS
      - REDIS_URL
      - SENTRY_DSN
    command: bin/puma -C config/puma.rb
