# For configuration options, read documentation at https://git.initforthe.com/initforthe/gitlab-ci-templates/-/tree/docker_deploy

variables:
  YARN_INSTALL: "true"
  RUBY_VERSION: '<%= @ruby_version %>'
  RUBY_YJIT_ENABLE: "1"
  GIT_SUBMODULE_STRATEGY: recursive

include:
  - project: initforthe/gitlab-ci-templates
    ref: docker_deploy
    file: Rails.gitlab-ci.yml
  - local: ".gitlab-ci/**.yml"
